#logo
  Torn
%ul#navList
  %li Icon 1
  %li Icon 2
  %li Icon 3
  = form_for :isochrone, :html => { :id => "tesform" }, :url => { :controller => "isochrone", :action => "generate" } do |f|
    = text_field_tag :address, nil, :placeholder => "Address"
    = submit_tag "Generate", :id => "formsub" #, :data => { :disable_with => "Please wait..." }
