/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

.clearfix:before,
.clearfix:after {
  content: "";
  display: table; }

.clearfix:after {
  clear: both; }

@font-face {
  font-family: mon-r;
  font-weight: normal;
  font-style: normal;
  src: url("../assets/montserrat-regular.eot");
  src: url("../assets/montserrat-regular.eot?#iefix") format("embedded-opentype"), url("../assets/montserrat-regular.woff") format("woff"), url("../assets/montserrat-regular.ttf") format("truetype"), url("../assets/montserrat-regular.svg#mon-r") format("svg"); }
@font-face {
  font-family: mon-b;
  font-weight: normal;
  font-style: normal;
  src: url("../assets/montserrat-bold.eot");
  src: url("../assets/montserrat-bold.eot?#iefix") format("embedded-opentype"), url("../assets/montserrat-bold.woff") format("woff"), url("../assets/montserrat-bold.ttf") format("truetype"), url("../assets/montserrat-bold.svg#mon-b") format("svg"); }
/*@include font-face( ad, "../assets/adelle-normal", normal );
@include font-face( ad-i, "../assets/adelle-normal-italic", normal );
@include font-face( ad-b, "../assets/adelle-bold", normal );
@include font-face( ad-bi, "../assets/adelle-bold-italic", normal );


// * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * ICONFONTS

/*[ class *= "icon-spinner-3" ]:before
{
  font-family: "icomoon";
  speak: none;
  color: $type60;
  font-style: normal;
  font-weight: normal;
  position: relative;
  top: 3px;
  //vertical-align: baseline;
  -webkit-font-smoothing: antialiased;
}

@include keyframes( infinite-spinning )
{
  0% { @include transform( rorate( 0deg) ); }

  100% { @include transform( rotate( 359deg ) ); }
}

.spinner
{
  font-size: 60px;
  line-height: 60px;
  @include animation( infinite-spinning 2s infinite linear );
}*/
html {
  font-family: "mon-r", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  font-size: 16px;
  -webkit-font-smoothing: antialiased; }

html, body {
  margin: 0;
  padding: 0;
  height: 100%; }

#wrap {
  height: 100%; }

#sideWrap, #contentWrap {
  float: left; }

#sideWrap {
  width: 94px;
  height: 100%; }

#logo {
  position: relative;
  height: 50px;
  background: orange; }
  #logo:after {
    z-index: -1;
    height: 100%;
    width: 100%;
    right: -10px;
    position: absolute;
    content: "";
    background: white; }

#contentWrap {
  width: calc(100% - 95px );
  height: 100%; }
  #contentWrap #isoWrap {
    width: 100%;
    height: 50px; }
  #contentWrap #mapsWrap {
    height: calc(100% - 50px ); }
    #contentWrap #mapsWrap #map {
      width: 100%;
      height: 100%; }

#isoWrap {
  position: relative;
  z-index: 100;
  font-size: 12px;
  color: #6f7375;
  display: table;
  background: white;
  border-bottom: 1px solid #d7d7d7;
  box-shadow: 0px 1px 3px 0px rgba(120, 120, 120, 0.15); }

#isoList {
  padding-left: 20px;
  display: table-cell;
  vertical-align: middle; }
  #isoList li {
    float: left;
    display: block;
    padding: 9px 11px 9px 11px;
    border-radius: 6px;
    border: 1px solid green; }
    #isoList li:not(:first-child) {
      margin-left: 15px; }
    #isoList li:hover {
      cursor: pointer; }

#newPos {
  position: absolute;
  left: 50%;
  margin: 24px 0 0 -130px; }

#sideWrap {
  position: relative;
  z-index: 200;
  border-right: 1px solid #d7d7d7;
  box-shadow: 1px 0px 3px 0px rgba(120, 120, 120, 0.15); }
